@font-face {
	font-family: 'AKONY';
	src: url(../../assets/fonts/AKONY-Bold.woff2) format('woff2'),
	url(../../assets/fonts/AKONY-Bold.woff) format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}