:root, [data-bs-theme=light] {
  --bs-body-bg: #000000;
  --bs-body-bg-rgb: 0,0,0;
  --bs-body-font-family: 'Atkinson Hyperlegible', sans-serif;
  --bs-link-color: rgb(21,12,29);
  --bs-link-color-rgb: 21,12,29;
  --bs-link-hover-color: rgb(21,12,29);
  --bs-link-hover-color-rgb: 21,12,29;
  --bs-focus-ring-color: rgb(135,0,255);
}

[data-bs-theme=dark] {
  --bs-primary: #722ed1;
  --bs-primary-rgb: 114,46,209;
  --bs-primary-text-emphasis: #AA82E3;
  --bs-primary-bg-subtle: #17092A;
  --bs-primary-border-subtle: #441C7D;
  --bs-body-color: #ffffff;
  --bs-body-color-rgb: 255,255,255;
  --bs-secondary-color: rgba(255,255,255,0.75);
  --bs-secondary-color-rgb: 255,255,255,0.75;
  --bs-tertiary-color: rgba(255,255,255,0.5);
  --bs-tertiary-color-rgb: 255,255,255,0.5;
  --bs-body-bg: #000000;
  --bs-body-bg-rgb: 0,0,0;
  --bs-body-font-family: 'Atkinson Hyperlegible', sans-serif;
  --bs-link-color: #d3adf7;
  --bs-link-color-rgb: 211,173,247;
  --bs-link-hover-color: #efdbff;
  --bs-link-hover-color-rgb: 239,219,255;
  --bs-border-width: 0px;
  --bs-border-style: solid;
  --bs-border-color: #ffffff;
  --bs-focus-ring-color: rgba(114,46,209,0.55);
}

[data-bs-theme=dark] .btn-primary, .btn-primary[data-bs-theme=dark] {
  --bs-btn-color: #fff;
  --bs-btn-bg: #722ed1;
  --bs-btn-border-color: #722ed1;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #6127B2;
  --bs-btn-hover-border-color: #5B25A7;
  --bs-btn-focus-shadow-rgb: 234,224,248;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #5B25A7;
  --bs-btn-active-border-color: #56239D;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #722ed1;
  --bs-btn-disabled-border-color: #722ed1;
}

[data-bs-theme=dark] .btn-outline-primary, .btn-outline-primary[data-bs-theme=dark] {
  --bs-btn-color: #722ed1;
  --bs-btn-border-color: #722ed1;
  --bs-btn-focus-shadow-rgb: 114,46,209;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #722ed1;
  --bs-btn-hover-border-color: #722ed1;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #722ed1;
  --bs-btn-active-border-color: #722ed1;
  --bs-btn-disabled-color: #722ed1;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #722ed1;
}

