.snapscrolling {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

body {
  overflow-x: hidden !important;
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

@media (max-width: 767px) {
  html {
    /*overflow-x: hidden;*/
  }
}

.card:hover {
  transform: translateY(-10px) scale(1.02);
}

.card {
  position: relative;
  transition: 0.2s cubic-bezier(0.61, 1, 0.88, 1);
}

img {
  pointer-events: none;
  user-select: none;
}

.amd {
  height: 300px;
}

@media (max-width: 917px) {
  .hiddenparts {
    display: none;
  }
}

html {
  scroll-snap-type: both proximity;
  scroll-behavior: smooth;
}

